body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100%;
}
.first-head{
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 1;
}
.first-head h4{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgb(253, 252, 252);
}
.first-head a{
    color: white;
    text-decoration: none;
}
.second-head{
    background-color: rgb(11, 10, 10);
    width: 100%;
    height: 110px;
    margin-top: -40px;
    position: fixed;
}
.text ul{
    display: flex;
    position: absolute;
    top: 40px;
    left: 170px;
    gap: 40px;
}
.text ul li{
    list-style: none;
    color: rgba(128, 128, 128, 0.856);
}
.text li:hover{
    text-decoration: underline;
    color: white;
}
.icons{
    display: flex;
    position: absolute;
    top: 50px;
    left: 1110px;
    gap: 30px;
}
.icons a{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.626);
}
.second-head img{
    width: 120px;
    position: absolute;
    top: 50px;
    left: 80px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; 
    padding: 70px;
    margin-top: 30px;
}
.grid-container img{
    width: 350px;
}
.aside img{
    width: 380px;
    padding-left: 55px;
}
aside{
    position: relative;
    z-index: -1;
}
aside .details {
    position: absolute;
    top: -5px;
    left: 500px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    color: rgb(13, 6, 6);
    line-height: 50px;
}
.details h1{
    font-weight: 400;
}
.details h2{
    font-weight: 300;
}
.about-us{
    background-color: black;
    width: 140px;
    height: 50px;
    color: white;
    font-size: 15px;
}
.about-us h3{
    display: flex;
    justify-content: center;
    font-weight: lighter;
}
.footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 450px;
    position: relative;
}
.footer h4{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-weight: 500;
}
.numbers a{
    display: flex;
    justify-content: center;
    line-height: 50px;
    color: rgb(245, 233, 233);
}
.instagram-icon{
    display: flex;
    justify-content: center;
}
.copywrite{
    position: absolute;
    bottom: 10px;
    left: 80px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    color: grey;
}
